* {
  box-sizing: border-box;
}

/* har har har */

body {
  font-family: sans-serif;
  margin:0px;
  overflow-x: hidden;
}

a{
  font-family:Lato, sans-serif;
  font-weight:400;
  letter-spacing: 0.5px;
  text-transform:uppercase;
  color:#cacaca;
  font-size:15px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover{
  color:#463b5b;
  text-decoration: none;
}

#scrollToTop{
  font-family:Montserrat,sans-serif;
}

#bgimg{
  z-index:-99999;
  margin-top:-20px;
  height:90%;
  z-index:-9999999;
}

img{
  max-width:100%;
}

#landing{
  width:105%;
  height:650px;
}

h1{
  position:absolute;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  margin-top:-82%;
  margin-left:15%;
  color:#E85147;
  width:400px;
}

#returnlink{
  position:absolute;
  text-decoration: none;
  margin-top:-84%;
  margin-left:15.3%;
  width:200px;
}



h2{
  position:absolute;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:16px;
  margin-top:-77%;
  margin-left:15.3%;
  color:#707070;
}

.begin{
  position:absolute;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align:center;
  text-transform:uppercase;
  font-size:15px;
  margin-left:15.3%;
  background-color:#463b5b;
  color:#fff;
  border-radius:90px;
  padding-top:10px;
  cursor:pointer;
  width:135px;
  height: 40px;
  margin-top:-1110px;
  z-index:2;
}

#anchor{
  position:absolute;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align:center;
  text-transform:uppercase;
  font-size:15px;
  border-radius:90px;
  padding-top:10px;
  cursor:pointer;
  width:135px;
  height: 40px;
  margin-top:-1400px;
  z-index:2;
}

#faq{
  width:1440px;
  height:750px;
  padding-bottom:200px;
}

#faqbox{
  margin-left:17%;
  margin-top:-85%;
  width:500px;

}

h3{
  font-family:Montserrat,sans-serif;
  font-weight:700;
  font-size:22px;
  color:#E85147;
  padding-top:20px;
}

.faqinfo{
  font-family:Montserrat, sans-serif;
  font-weight: 400;
  color:#707070;
  font-size:14px;
  line-height: 22px;
}

.topbuttonbox{
  position:absolute;
  margin-top: -400px;
  margin-left:60%;
  width:250px;
  height:270px;
  border:1px solid #cacaca;
  border-radius:20px 20px 20px 20px;
}

.selecttest{
  position:absolute;
  display:inherit;
  background-color: white;
  color:#ea475b;
  font-family:Montserrat, sans-serif;
  font-weight:500;
  font-size:14px;
  text-transform:uppercase;
  margin-left:23%;
  margin-top:-8px;
  padding: 0px 10px 0px 10px;
  width:130px;
  z-index:2;
}

#myersBriggs{
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align:center;
  font-size:15px;
  margin-top: 40px;
  margin-left:22%;
  background-color:#463b5b;
  color:#fff;
  border-radius:90px;
  padding:10px 17px 10px 17px;
  cursor:pointer;
  width:135px;
  z-index:2;
}

#HEXACO{
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align:center;
  font-size:15px;
  margin-top: 30px;
  margin-left:22%;
  background-color:#463b5b;
  color:#fff;
  border-radius:90px;
  padding:10px 17px 10px 17px;
  cursor:pointer;
  width:135px;
  z-index:12;
}

#enneagram{
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align:center;
  font-size:15px;
  margin-top: 30px;
  margin-left:22%;
  background-color:#463b5b;
  color:#fff;
  border-radius:90px;
  padding:10px 17px 10px 17px;
  cursor:pointer;
  width:135px;
  z-index:12;
}

#scrollToTop {
    position: fixed;
    display: none;
    width: 40px;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
}
#scrollToTop:hover {
    background-color: #dadada;
    color: #000;
}

/* overall styles */

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#sectionBanner1, #sectionBanner2, #sectionBanner3{
  display:grid;
  grid-template-columns: 70px 1fr 1fr 1fr 1fr 1fr 1fr 70px 1fr 1fr 1fr 1fr 1fr 1fr 70px ;
  grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  /* messes up when I try using repeat() shorthand  */
  background-color:#362e44;
  width:100%;
  height:350px;
  z-index:-1;
}

.sectionHeader{
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:60px;
  text-transform:none;
  text-align:right;
  letter-spacing:1px;
  width:600px;
  color:#ea475b;
  padding:0px;
}

.sectionInfo{
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  line-height:25px;
  font-style: normal;
  font-size:14px;
  color: #ece6f4;
  text-align:left;
  width:550px;
}

.legend{
  position:absolute;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size:15px;
  color:#a9a3bf;
  text-align:left;
}

.legendBox{
  position:absolute;
  width:15px;
  height:15px;
  border:1px solid #dadada;
}

#official1, #official2, #official3 {
  font-family: brother-1816, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase;
  text-align:center;
  color:#362e44;
  padding-top:20px;
  width:100%;
}


/* Myers Briggs */


#briggs{
  grid-column: 2/span 6;
  grid-row: 2/4;
  padding-top:20px;
  margin-left:30px;
  order:-1;
}

#briggsInfo{
  grid-column: 9/16;
  grid-row: 3/5;
  padding-top:20px;
  order:1;
}

#mbIntroversion{
  margin-left: 280px;
  margin-top:147px;
}

#mbIntroversionBox{
  background-color:#8BAF3E;
  margin-left: 480px;
  margin-top:150px;
  border-radius:90px 90px 90px 90px;
}

#mbSensing{
  margin-left: 540px;
  margin-top:147px;
}

#mbSensingBox{
  background-color:#208A70;
  margin-left: 680px;
  margin-top:150px;
  border-radius:90px 90px 90px 90px;
}

#mbThinking{
  margin-left: 340px;
  margin-top:197px;
}

#mbThinkingBox{
  background-color:#E8854D;
  margin-left: 480px;
  margin-top:199px;
  border-radius:90px 90px 90px 90px;
}

#mbJudging{
  margin-left: 522px;
  margin-top:197px;
}

#mbJudgingBox{
  background-color:#00ADBF;
  margin-left: 680px;
  margin-top:199px;
  border-radius:90px 90px 90px 90px;
}

/* HEXACO */

#hex{
  grid-column: 2/span 6;
  grid-row: 2/4;
  padding-top: 20px;
  margin-left:40px;
  order:-1;
}

#hexInfo{
  grid-column: 9/16;
  grid-row: 3/5;
  order:1;
  padding-top:20px;
}

#hOpenness{
  margin-left: 235px;
  margin-top:147px;
}

#hOpennessBox{
  background-color:#E8854D;
  margin-left: 320px;
  margin-top:150px;
  border-radius:90px 90px 90px 90px;
}

#hConscience{
  margin-left: 170px;
  margin-top:196px;
}

#hConscienceBox{
  background-color:#855BA6;
  margin-left: 320px;
  margin-top:199px;
  border-radius:90px 90px 90px 90px;
}

#hExtraversion{
  margin-left: 390px;
  margin-top:147px;
}

#hExtraversionBox{
  background-color:#8BAF3E;
  margin-left: 493px;
  margin-top:150px;
  border-radius:90px 90px 90px 90px;
}

#hAgreeableness{
  margin-left: 559px;
  margin-top:147px;
}

#hAgreeablenessBox{
  background-color:#00ADBF;
  margin-left: 680px;
  margin-top:150px;
  border-radius:90px 90px 90px 90px;
}

#hNeuroticism{
  margin-left: 390px;
  margin-top:196px;
}

#hNeuroticismBox{
  background-color:#208A70;
  margin-left: 493px;
  margin-top:199px;
  border-radius:90px 90px 90px 90px;
}

#hHonesty{
  margin-left: 605px;
  margin-top:196px;
}

#hHonestyBox{
  background-color:#BE1E2D;
  margin-left: 680px;
  margin-top:199px;
  border-radius:90px 90px 90px 90px;
}

/* enneagram */

#enneagramtext{
  grid-column: 2/span 6;
  grid-row: 2/4;
  padding-top: 20px;
  order:-1;
  margin-left:40px;
  width:600px;
}

#gramInfo{
  grid-column: 9/16;
  grid-row: 3/5;
  order:1;
  padding-top:20px;
}

#gramThinking{
  margin-left: 453px;
  margin-top:147px;
}

#gramThinkingBox{
  background-color:#00ADBF;
  margin-left: 530px;
  margin-top:150px;
  border-radius:90px 90px 90px 90px;
}

#gramFeeling{
  margin-left: 615px;
  margin-top:147px;
}

#gramFeelingBox{
  background-color:#E8854D;
  margin-left: 680px;
  margin-top:150px;
  border-radius:90px 90px 90px 90px;
}

#gramInstinct{
  margin-left: 611px;
  margin-top:197px;
}

#gramInstinctBox{
  background-color:#8BAF3E;
  margin-left: 680px;
  margin-top:199px;
  border-radius:90px 90px 90px 90px;
}

/* myers briggs button */

#myersButtons{
  grid-column:1/span 15;
  grid-row:12/span 16;
  padding-left:80px;
  z-index:1;
}

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background:#4f4466 ;
  border-radius: 90px 90px 90px 90px;
  color: #ece6f4;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  border:0px;
  z-index:1;
}

.button:hover {
  background-color: #362e44;
  color: #fff;
  border: 1px solid #ece6f4;
}

.button:active,
.button.is-checked {
  background-color: #362e44;
  border: 1px solid #ece6f4;
}

.button.is-checked {
  color: white;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

#myersIntro{
  color:#fafafa;
}

/* myers button group */

.button-group:after {
  position:absolute;
  content: '';
  display: table-row;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 90px 90px 90px 90px;
  margin-left: 110px;
  margin-right: -90px;
}

.button-group .button:first-child { border-radius: 90px 90px 90px 90px; }
.button-group .button:last-child { border-radius: 90px 90px 90px 90px; }

/* HEX BUTTONS */

#hexButtons{
  grid-column:1/span 13;
  grid-row:12/16;
  margin-left:15px;
}

.button-group2:after {
  position:absolute;
  content: '';
  display: table-row;
  clear: both;
}

.button-group2 .button {
  float: left;
  border-radius: 90px 90px 90px 90px;
  margin-left: 115px;
  margin-right: -90px;
}

.button-group2 .button:first-child { border-radius: 90px 90px 90px 90px; }
.button-group2 .button:last-child { border-radius: 90px 90px 90px 90px; }

/* ENNEAGRAM BUTTONS */

#gramButtons{
  grid-column:4/span 13;
  grid-row:12/16;
  margin-left:10px;
}

.button-group3:after {
  position:absolute;
  content: '';
  display: table-row;
  clear: both;
}

.button-group3 .button {
  float: left;
  border-radius: 90px 90px 90px 90px;
  margin-left: 115px;
  margin-right: -90px;
}

.button-group3 .button:first-child { border-radius: 90px 90px 90px 90px; }
.button-group3 .button:last-child { border-radius: 90px 90px 90px 90px; }

/* ---- table-like ---- */

.table-like {
  list-style:none;
  font-family: brother-1816, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:14px;
  line-height: 24px;
  margin:0;
  padding:0;
}

/* myers tables */

#allMeyers {
  display:grid;
  grid-template-columns: 70px 1fr 1fr 70px 1fr 1fr 70px;
  width:100%;
  margin:2em 0px;
}

.name {
  display:block;
  width:100%;
  line-height:24px;
}

#myers1 {
  text-align:right;
  width:580px;
  padding-left:130px;
}

#myers2div{
  grid-column:5/span 4;
  width:620px;
}

/* hexaco tables */

#allHexaco {
  display:grid;
  grid-template-columns: 70px 1fr 1fr 70px 1fr 1fr 70px;
  width:100%;
  margin:2em 0px;
}

#hexaco1 {
  text-align:right;
  width:580px;
  padding-left:130px;
}

#hexaco2div{
  grid-column:5/span 4;
  width:620px;
}

/* enneagram tables */

#allEnneagram {
  display:grid;
  grid-template-columns: 70px 1fr 1fr 70px 1fr 1fr 70px;
  width:100%;
  margin:2em 0px;
}

#enneagram1 {
  text-align:right;
  width:580px;
  padding-left:130px;
}

#enneagram2div{
  grid-column:5/span 4;
  width:620px;
}

/* text color */

/* myers briggs */

.lightGreen{
  color:#8BAF3E;
}

.darkGreen{
  color:#208A70;
}

.orange{
  color: #E8854D;
}

.lightBlue{
  color:#00ADBF;
}

/* hexaco */

.orange2{
  color:#E8854D;
}

.purple{
  color:#855BA6;
}

.lightGreen2{
  color:#8BAF3E;
}

.lightBlue2{
  color:#00ADBF;
}

.darkGreen2{
  color:#208A70;
}

.red{
  color:#BE1E2D;
}

/* enneagram */

.orange3{
  color:#E8854D;
}

.lightBlue3{
  color:#00ADBF;
}

.lightGreen3{
  color:#8BAF3E;
}
